.bgimage {
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: -webkit-fill-available;
}

.headerimage {
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    max-width: -webkit-fill-available;
}
.header {
    text-align: center;
    background-color: aliceblue;
}
