@page "/Obituary/Main2/Ghanem"

@{
    ViewData["Title"] = "غانم مصطفى غانم";
}
<div class="header">
    <h1> غانم مصطفى غانم</h1>
</div>
<img src="../../imgs/quran1.png" class="bgimage" />
<br />
<img src="../../imgs/header.jpg" class="headerimage" />
<br />
<div class="header">
    <h1>1924 - 1999</h1>
</div>


<img src="../../imgs/ghanem/ghanem_100.png" class="bgimage" />
<br />
<img src="../../imgs/ghanem/ghanem_101.png" class="bgimage" />
<br />
<img src="../../imgs/alfatha.jpg" class="bgimage" />

