@page "/Obituary/Main2"

<PageTitle>وفيات عائلة غانم</PageTitle>

<img src="../imgs/title.png" class="bgimage" />
<br />
<img src="../imgs/mainheader.png" class="bgimage" />
<br />
<div class="headerwithoutcolor">
    <iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d254.4892869308748!2d31.0748324064584!3d30.64319508308903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e2!4m0!4m3!3m2!1d30.643175990122714!2d31.074988826490888!5e1!3m2!1sen!2sca!4v1727017934129!5m2!1sen!2sca"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<br />

<a href="Obituary/Ghanem">
    <img src="../imgs/Ghanem.png" class="headerimage" />
    <div class="header">
        <h1> غانم مصطفى غانم</h1>
    </div>
</a>
<br />
<a href="Obituary/Ahlam">
    <img src="../imgs/Ahlam.png" class="headerimage" />
    <div class="header">
        <h1>سيده احلام شحاته غانم</h1>
    </div>
</a>

<br />
<a href="Obituary/Mostafa">
    <img src="../imgs/Mostafa.png" class="headerimage" />
    <div class="header">
        <h1>مصطفى غانم مصطفى غانم</h1>
    </div>
</a>